$primaryColor: rgb(231, 48, 42);
$accentColor: #4b3a8a;

$maxWidthBody: 70vw;
$paddingMenu: 32px;

$appBarHeight: 110px;

$h0FontSize: 80px;
$h1FontSize: 64px;
$h2FontSize: 48px;
$h3FontSize: 32px;
$h4FontSize: 24px;

$normalFontSize: 12px;

$shadowIcons: drop-shadow(.5px .5px 1px rgba(230, 240, 242, 0.302));


