$primaryColor: #E7302A;

$maxWidthBody: 70vw;
$paddingMenu: 32px;

$appBarHeight: 110px;

$h0FontSize: 80px;
$h1FontSize: 64px;
$h2FontSize: 48px;
$h3FontSize: 32px;
$h4FontSize: 24px;

$normalFontSize: 12px;


